
body{
    font-size: small;
}

.btn{
    background-color:rgb(91, 132, 168);
    border: transparent;
}




.container{
    padding: 1px;
}

$color: gray;

p {
    color: $color;
}



.formlabel {
    text-align: justify;
}

.chartbody {
    background-color: rgb(232, 240, 247);
}